*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --nav-height: 56px;
  --nav-highlight-height: 6px;
  --header-logo-width: 96px;
  --text-color: #333;

  font-size: 16px;
}

body {
  background-color: #f8f8f8;
  font-family: "Metric";
  font-size: 1rem;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

:is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
  /* Back to TWBS3 */
  line-height: 1.1;
  font-weight: 500;

  @supports (color: hsl(from red h s l)) {
    &:not(:has(> code)) {
      /* Updated fonts are overall lighter than legacy Metric font at the same
      weights. So this text shadow adds a little more weight to more closely
      resemble the old font. */
      text-shadow:
        /* Slightly above */
        0 -0.5px 0 hsl(from var(--text-color) h s l / 80%),
        /* Slightly to the right */
        0.5px 0 0 var(--text-color);
    }
  }

  > small {
    font-size: 0.8em;
  }
}

:is(h1, .h1) {
  font-size: 2.2rem;
}

:is(h2, .h2) {
  font-size: 1.85rem;
}

:is(h3, .h3) {
  font-size: 1.5rem;
}

:is(h4, .h4) {
  font-size: 1.12rem;
}

:is(h5, .h5) {
  font-size: 0.875em;
}

:is(h6, .h6) {
  font-size: 0.75em;
}

:is(p) {
  &:empty {
    display: none;
  }
}

:is(blockquote) {
  margin-block-end: 1rem;
  padding-block: 1ch;
  padding-inline: 1.25rem;
  border-left: 0.3rem solid hsl(0 0 0 / 0.08);

  > :where(ul, ol, dl) {
    margin-block: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }
}

.content-container {
  min-height: 700px;

}

.main-list {
  margin-top: 350px;

  .content {
    > :where(:last-child) {
      margin-block-end: 1ch;
    }
  }
}

.pages-container {
  margin-top: 150px;
}

.navbar {
  background-color: #0079ef;
  height: var(--nav-height);
  border: none;
  border-radius: 0;
  padding: 0;
  z-index: 999;
  margin-bottom: 0;
  text-align: center;
  justify-content: center;

  &.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }
}

.navbar-brand {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

.navbar .mffod-logo {
  background-color: #00abf3;
  height: var(--header-logo-width);
  width: var(--header-logo-width);
  padding: 15px;
  aspect-ratio: 1;

  @supports (padding: min(16%, 15px)) {
    padding: min(16%, 15px);
  }
}

.navbar .navbar-nav {
  top: 0;
  gap: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar .navbar-nav>a {
  display: flex;
  flex-direction: column;
  place-items: center;
  color: #FFF;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: transparent;
  letter-spacing: 1px;
  padding-inline: 10px;
  text-decoration: none;
  position: relative;
  min-height: var(--nav-height);

  @supports (padding: clamp(1px, 2vw, 3em)) {
    padding-inline: clamp(5px, 0.8vw, 10px);
  }

  &.active::after {
    width: 100%;
  }
}

.navbar .navbar-nav>a:hover,
.navbar .navbar-nav>a.dropdown:hover {
  color: white;
}

.navbar .navbar-nav>a::after,
.navbar .navbar-nav>a.dropdown::after {
  content: '';
  position: absolute;
  height: var(--nav-highlight-height);
  width: 0;
  transition: width .3s ease;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: currentColor;
  margin: auto;
}

.navbar .navbar-nav>a:hover::after,
.navbar .navbar-nav>a.dropdown:hover::after {
  content: '';
  width: 100%;
}

/* Home page state plus grid decal */
.title {
  &::before {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 212px;
    height: 150px;
    background-image: url('../img/styleguide_top.svg');
    background-repeat: no-repeat;
    background-size: 212px auto;
    opacity: 1;
    z-index: -1;
    transition: all .3s ease-in-out;

    @supports (left: clamp(-52px, -6vw, -1rem)) {
      left: clamp(-52px, -6vw, -2rem);
    }
  }

  /* This masks the ::before background which sits behind the text, but not the
  text's background */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #323435;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
}

.title-bar {
  position: fixed;
  left: 0px;
  top: var(--nav-height);
  z-index: 3;
  height: 160px;
  width: 100%;
  background-color: #0079ef;
  transition: all .3s ease-in-out;
  color: #fff;
  margin-bottom: 200px;
}

.scroller.title-bar,
.pages.title-bar {
  position: fixed;
  left: 0px;
  top: var(--nav-height);
  width: 100%;
  height: 40px;
  background: #1668c1;
}

.title-bar .title {
  transition: all .3s ease-out;
  font-size: 56px;
  letter-spacing: .4px;
  left: 412px;
  bottom: -1.5rem;
  min-height: 84px;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  position: absolute;
  line-height: 1;
  margin: 0;
  font-weight: normal;
  background-color: #323435;
  text-transform: uppercase;

  /* If supported, use clamp for responsive dimensions */
  @supports (padding: clamp(1px, 2vw, 3em)) {
    --title-padding-block: clamp(0.03rem, 0.7vw, 1rem);
    --title-padding-inline: clamp(0.5rem, 1.75vw, 1.618rem);

    padding: var(--title-padding-block) var(--title-padding-inline);
    min-height: clamp(1rem, 10vw, 84px);
    font-size: clamp(2.5rem, 5vw, 56px);

    /* This simulates a nonlinear increase in left offset as the viewport
    increases, giving a responsive effect so the layout doesn't get blown up in
    smaller viewports */
    left: max(
      1rem,
      min(6vw, 412px),
      min(calc(36vw - 30px), 412px)
    );
  }
}

.scroller.title-bar .title,
.pages.title-bar .title {
  font-size: 1.5rem;
  line-height: 1;
  left: var(--header-logo-width);
  top: 0px;
  right: auto;
  height: 40px;
  min-height: 0;
  padding: 10px;

  &::before, &::after {
    opacity: 0;
  }
}

.disable-scroll.title-bar a {
  color: #1668C1;
  text-decoration: none;
}

a {
  &:hover {
    color: #148bff;
    text-decoration: none;
  }

  &:has(> .icons) {
    display: flex;
    justify-content: center;
  }
}

.article {
  margin-top: 145px;
}

.panel {
  position: relative;
  padding: 1.2rem;
  margin-inline: auto;
  margin-block-end: 1rem;
}

.panel .badge {
  font-size: 14px;
  line-height: 9px;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #bdbec0;
  gap: 0.2em;

  &::before {
    content: unset;
  }
}

h3 {
  margin-top: 5px;
}

.pages-panel {
  min-height: 350px;
  padding: 20px;}

.pages-panel .container-fluid {
  border-block-end: 1px solid #DCDEDF;
  margin-block-end: 15px;
  padding-block: 15px 30px;

  [class*="col-"] {
    display: flex;
    justify-content: center;
  }
}

.icons {
  background: #231ca5;
  color: #F1F2F3;
  border-radius: 50%;
  box-shadow: 2px 2px #DCDEDF;
  height: 120px;
  width: 120px;
  padding: 27px 30px;
  transition: all .3s ease-in-out;
}

.icons:hover {
  background: #271782;
  color: white;
  border-radius: 50%;
  box-shadow: 2px 3px #BDBEC0;
  height: 120px;
  width: 120px;
  padding: 27px 30px;
}

.centered {
  text-align: center;
}

.footer {
  background: #323435;
  padding-top: 75px;
  color: #fff;
  width: 100%;
  height: 212px;
  right: 0;
  bottom: 0;
  left: 0;
}

.mf-logo {
  height: 50px;

  :has(> &) {
    text-align: end;
  }
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

code {
  :not(pre) > & {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--grid-columns, 2), 1fr);

  &.grid-3 {
    --grid-columns: 3;
  }

  &.grid-4 {
    --grid-columns: 4;
  }
}