<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h4 class="ui inverted header">Resources</h4>
      <div class="ui list">
        <div class="item">
          <i class="github icon"></i>
          <div class="content">
            <a href="http://github.com/fortify">Our Github organization page</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <object class="mf-logo" data="{{ site.baseurl }}/dist/img/mf_logo_black.svg" type="image/svg+xml"></object>
    </div>
  </div>
</div>