---
layout: container
---

{% assign fortify = page.title | slice: 0,7 | downcase %}
{% if fortify == 'fortify' %}
    {% assign title = page.title | slice: 1,1000 %}
{% else %}
    {% assign title = page.title %}
{% endif %}


<!-- Page Contents -->
<div class="panel article container qtm-paper-depth1">
    <header class="title-bar pages">
            <div class="title">
                {{title}}
            </div>
    </header>

    <article class="content-container">
        {{content}}
    </article>
</div>
