---
    layout: container
---

<header class="title-bar">
    <h1 class="title">
        Fortify Engineering
    </h1>
</header>
<div class="container main-list main-blog">
    {% for page in site.posts %}
    {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
    {% if page.type == 'main-blog' %}
    <article id="{{id}}" class="qtm-paper-depth1 panel ui segment p-{{id}}">
        <div class="badge">
            <span class="day">{{page.date | date: "%d"}}</span>
            <span class="month">{{page.date | date: "%b"}}</span>
            <span class="year">{{page.date | date: "%Y"}}</span>
        </div>
        <div class="content">
            <h3>{{ page.title }}</h3>
            {{ page.content }}
        </div>
    </article>
    {% endif %}
    {% endfor %}
</div>