---
layout: container
---
<header class="title-bar pages">
  <h1 class="title">
    {{page.title}}
  </h1>
</header>
<div class="container pages-container">
  <div class="row">
    {% for node in site.posts %} {% capture id %}{{ node.id | remove:'/'| downcase }}{% endcapture %}
    {% if node.type == page.type %}
    <div class="col-md-6 col-xl-4">
      <article id="{{id}}" class="panel pages-panel qtm-paper-depth1">
        <div class="container-fluid grid">
          <a href="{{node.git}}" target="_blank">
            <div class="icons">
              <i class="qtm-font-icon qtm-icon-launch-external--16 qtm-icon-xxxlarge" title="Github"></i>
            </div>
          </a>
          <a href="{{site.baseurl}}{{node.documentation}}" target="_blank">
            <div class="icons">
              <i class="qtm-font-icon qtm-icon-document--16 qtm-icon-xxxlarge" title="Documents"></i>
            </div>
          </a>
        </div>
        <div>
          <h2>{{node.title}}</h2>
          <h4 class="sub header">{{node.subtitle}}</h4>
        </div>
        {{ node.content }}
      </article>
    </div>
    {% endif %} {% endfor %}
  </div>

</div>